html, body, #root {
  margin: 0;
  padding: 0;
  background-color: #18181b;
  color: white;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}