.grid-produtos {
  display: grid;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  gap: 24px;
  padding: 24px;
  justify-items: center; 
  width: 100%; 
}

.produto-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
}

.produto-img {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  margin-bottom: 12px;
  border-radius: 4px;
  max-height: 250px; 
}
